.alerts {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 6;
}

.alert {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 267px;
    border-radius: 5px;
    color: #fff;
    padding: 21px 0;
    font-size: 15px;
    cursor: pointer;
}

.alert:not(:last-child) {
    margin-bottom: 20px;
}

.alert-error {
    background-color: rgba(191, 38, 46, 0.85);
}

.alert-success {
    background-color: rgba(108, 172, 106, 0.85);
}

.alert-icon svg {
    width: 27px;
    height: 27px;
   margin: 0 20px;
}

.alert-content {
    height: 100%;
    padding-right: 15px;
}

.alert-title, .alert-description {
    display: block;
}

.alert-title {
    font-size: 1.3em;
    font-weight: bold;
}

.alert-description {
    font-size: 1.2em;
}