.cards {
    display: grid;
    --width: 80vw;
    width: var(--width);
    height: calc(var(--width) / 2);
    grid-template-columns: 25% 25% 31.5% 18.5%;
    grid-template-rows: repeat(8, auto);
    margin: 0 auto;
    overflow: hidden;
}


.card {
    position: relative;
    width: 100%;
}

.card-preview {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.card-preview span {
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.card-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
}

.binary-card {
    grid-area: 1 / 1 / 5 / 2;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: bottom center;
}

.binary-card:hover {
    transform: translateY(-100%) rotateX(-180deg);
}

.binary-card .card-preview {
    background-image: url("/images/binary-card-preview.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 50%, 50%;
    background-size: 50%;
    backface-visibility: hidden;
}

.binary-card .card-content {
    background-image: url("/images/binary-card-content.png");
    background-repeat: no-repeat;
    background-color: #212226;
    background-position: 50%, 50%;
    background-size: 50%;
    transform: rotateX(180deg);
}

.js-card {
    grid-area: 1 / 2 / 7 / 3;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.js-card:hover {
    transform: rotateY(180deg);
}

.js-card .card-preview {
    background-color: #f7cf69;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 9rem;
    backface-visibility: hidden;
}

.js-card .card-preview span {
    padding: 0 16px;
}

.js-card .card-content {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.qa-card {
    grid-area: 5 / 1 / 9 / 2;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.qa-card:hover {
    transform: rotateX(180deg);
}

.qa-card .card-preview {
    background-color: #52bf77;
    font-size: 7.5rem;
    color: #fff;
    backface-visibility: hidden;
}

.qa-card .card-content {
    transform: rotateX(180deg);
}

.java-card {
    grid-area: 7 / 2 / 9 / 3;
}

.java-card:hover .card-preview {
    transform: translateY(100%);
}

.java-card .card-preview {
    background-color: #e12b4c;
    font-size: 4rem;
    color: #fff;
}

.php-card {
    grid-area: 1 / 3 / 4 / 5;
}

.php-card:hover .card-preview {
    transform: scale(0);
}

.php-card .card-preview {
    background-color: #8893c0;
    font-size: 7rem;
    font-style: italic;
    transform-origin: top right;
}

.net-card {
    grid-area: 4 / 3 / 9 / 4;
    transform-origin: center right;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.net-card:hover {
    transform: translateX(-100%) rotateY(-180deg);
}

.net-card .card-preview {
    background-color: #642077;
    color: #fff;
    font-size: 7.5rem;
    backface-visibility: hidden;
}

.net-card .card-content {
    backface-visibility: hidden;
    transform: rotateY( 180deg );
}

.events-card {
    grid-area: 4 / 4 / 6 / 5;
}

.events-card:hover .card-preview {
    transform: translateX(100%);
}

.events-card .card-preview {
    background-color: #2d99ff;
    color: #fff;
    font-size: 1.6rem;
}

.events-card .card-content {
    overflow-y: scroll;
    font-size: 20px;
}

.events-card .card-content a {
    text-decoration: underline;
    color: #00b9ff;
}

.events-card .card-content a:hover {
    color: #02acec;
}

.events-card .card-content a:active {

}

.blog-card {
    grid-area: 6 / 4 / 8 / 5;
}

.blog-card:hover .card-preview {
    transform: rotate(90deg);
}


.blog-card .card-preview {
    background-color: #0443a3;
    color: #fff;
    font-size: 1.6rem;
    transform-origin: bottom right;
}

.blog-card .card-content {
    backface-visibility: hidden;
    padding: 7px;
    transition: transform 1s;
    overflow-y: scroll;
}

.blog-card .post {
    padding-bottom: 5px;
    border-bottom: 1px solid #777f89;
    margin-bottom: 3px;
}

.blog-card .post:last-child {
    border: none;
    margin: 0;
}

.blog-card .tag-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    margin: 0 0 .5em 0;
}

.blog-card .tag-list .tag:not(:last-of-type) {
    margin-right: 1em;
}
.blog-card .tag-list a {
    transition: color .1s linear;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00b9ff;
}

.blog-card .title-link {
    display: block;
    transition: color .1s linear;
    text-decoration: none;
}

.blog-card .post-title {
    display: inline;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    color: #454545;
    letter-spacing: .5px;
    transition: color .1s linear;
}
.blog-card .post-title:hover {
    color: #02acec;
}

.blog-card .post-title:active {
    color: #03a0db;
}

.blog-card .post-preview {
    overflow: hidden;
    font-size: 11px;
    line-height: 1.56;
    color: #2b2b2b;
    opacity: .75;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: color .1s linear;
}

.blog-card .post-info {
    line-height: 1.89;
    white-space: nowrap;
    display: flex;
    color: #8b8b8f;
    overflow: hidden;
    font-size: 11px;
}

.blog-card .post-info .author-name {
    color: #00b9ff;
}

.blog-card .separator {
    pointer-events: none;
    padding: 0 .5em;
}


.contacts-card {
    grid-area: 8 / 4 / 9 / 5;
}

.contacts-card:hover .card-preview {
    transform: scale(0);
}

.contacts-card .card-preview {
    background-color: #00255f;
    color: #fff;
    font-size: 1.6rem;
    transform-origin: bottom right;
}

.contacts-card .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}

.contacts-card .icon {
    width: 3rem;
    height: 3rem;
}

.contacts-card .icon:nth-child(2) {
    margin: 0 1.5rem;
}

.contacts-card .icon svg {
    width: 100%;
    height: 100%;
}

.contacts-card .icon:hover svg {
    fill: #00b9ff;
}

.contacts-card .icon:active svg {
    fill: #02acec;
}

@media screen and (max-width: 1300px) {
    .contacts-card .icon {
        width: 3rem;
        height: 3rem;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@media screen and (max-width : 972px) {
    .cards {
        display: grid;
        --width: 90vw;
        height: calc(var(--width) * 8 / 9);
        grid-template-columns: repeat(18, auto);
        grid-template-rows: repeat(16, auto);
    }

    .binary-card {
        grid-area: 1 / 1 / 9 / 9;
    }

    .js-card {
        grid-area: 1 / 9 / 9 / 15;
    }

    .js-card .card-preview {
        font-size: 11rem;
    }

    .qa-card {
        grid-area: 13 / 1 / 17 / 10;
    }

    .qa-card .card-preview {
        font-size: 9rem;
    }

    .java-card {
        grid-area: 9 / 1 / 13 / 10;
    }

    .java-card:hover .card-preview {
        transform: translateX(-100%);
    }

    .java-card .card-preview {
        font-size: 5rem;
    }

    .php-card {
        grid-area: 9 / 10 / 13 / 19;
    }

    .php-card .card-preview {
        font-size: 9rem;
    }

    .net-card {
        grid-area: 13 / 10 / 17 / 19;
    }

    .net-card .card-preview {
        font-size: 9rem;
    }

    .events-card {
        grid-area: 1 / 15 / 4 / 19;
    }

    .events-card .card-preview {
        font-size: 3rem;
    }

    .blog-card {
        grid-area: 4 / 15 / 7 / 19;
    }

    .blog-card .card-preview {
        font-size: 3rem;
    }

    .contacts-card {
        grid-area: 7 / 15 / 9 / 19;
    }

    .contacts-card .icon {
        width: 5rem;
        height: 5rem;
    }

}

@media screen and (max-width: 600px) {
    .card-content {
        font-size: 12px;
        padding: 12px;
    }

    .events-card .card-content {
        font-size: 12px;
    }

    .blog-card .tag-list a {
        transition: color .1s linear;
        font-size: 7px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #00b9ff;
    }

    .blog-card .post-title {
        font-size: 9px;
    }

    .blog-card .post-preview {
        font-size: 8px;
    }

    .blog-card .post-info {
        font-size: 8px;
    }

    .contacts-card .card-content {
        font-size: 3rem;
        padding: 2rem;
    }
}