footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

footer span {
    font-weight: bold;
    font-size: 15px;
}