header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    padding: 0 10vw;
    width: 100%;
    animation-name: appear;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2,.48,.41,.88);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

nav img {
    height: 100%;

}

#logo {
    display: inline-block;
    width: 115px;
    height: 33px;
    cursor: pointer;
}

.profile-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    position: relative;
}

.notification-block {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#notification-icon {
    fill: #b6c3d3;
}

#notification-icon:hover {
    fill: #777f89;
}

#notification-icon:active {
    fill: #494e53;
}

.profile-block label {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.profile-block input {
    display: none;
}

#profile-icon {
    width: 40px;
    height: 40px;
    background-color: #f69014;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.profile-block label:hover ~ #profile-icon {
    background-color: #e78712;
}

.profile-block label:active ~ #profile-icon {
    background-color: #d97f11;
}

#profile-icon span {
    color: #fff;
    font-size: 20px;
    line-height: 16px;
}

.profile-block input[type=checkbox]:checked  ~ .profile-content {
    display: block;
}

.profile-content {
    display: none;
    position: absolute;
    width: 200px;
    top: 50px;
    right: 0;
    z-index: 4;
    background-color: #fff;
    padding: 15px 20px 10px;
    box-shadow: 3px 8px 25px 2px rgba(68, 89, 118, 0.4);
}

.profile-content .profile-title {
    text-align: center;
    color: #919499;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #9c9c9f;
    cursor: default;
}

.profile-content .action-list {
    list-style: none;
    margin: 6px 0 0 0;
    padding: 0;
}

.profile-content .action-list li {
    font-weight: bold;
    font-size: 16px;
    padding: 7px 0 7px 8px;
    cursor: pointer;
}

.profile-content .action-list li:hover {
    background-color: #f6f7fc;
}

.profile-content .action-list li:active {
    background-color: #e7e8ec;
}

@media screen and (max-width : 972px) {
    header {
        padding: 0 5vw;
    }

    nav {
        height: 55px;
    }

    .profile-block {
        width: 77px;
    }

    .notification {
        width: 24px;
        height: 24px;
    }

    #profile-icon {
        width: 32px;
        height: 32px;
        background-color: #f69014;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile-icon span {
        font-size: 16px;
        line-height: 14px;
    }

    .profile-block label {
        width: 32px;
        height: 32px;
    }
}

@keyframes appear {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}