* {
    box-sizing: border-box;
}

html {
    --size: 1vw;
    font-size: calc(var(--size) * .7);
}

body {
    margin: 0;
    padding: 0 0 75px 0;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fd;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

main {
    margin-top: 141px;
}

@media screen and (max-width : 972px) {
    main {
        margin-top: 106px;
    }
}
